
### folders
node_modules
scripts
test
.idea
.vscode
coverage
.nyc_output
build/Release
src
docs
.tscmultiwatch
.circleci

### files
.editorconfig
.gitattributes
.gitignore
.npmignore
.dockerignore
.travis.yml
.nlu.json

### matching
assets/zoom.sh
*.log
Dockerfile*
*.md
*.tgz
tsconfig*.json

